// Font
$bodyCopy: 'Roboto';
$links: 'Roboto Mono';
$title: 'Roboto Slab';
$subtitle: 'Roboto Condensed';

// Colours
$darkBPurple: #262335;

$bCopyGray: rgb(140, 140, 140);

$cyan: #37FAFA;
$bPink: #F97EFA;
$bYellow: #FCDE5D;
$bOrange: #F88B5D;
$bGreen: #70EBB4;

